In [1]:
from sklearn.metrics import silhouette_score
from dataset.proses_data import baca_dataset, atribut_data, normalisasi
from algoritma.kmedoid import sampel_kmedoid, data_medoid, visualisasi

In [2]:
dataset = baca_dataset() # Membaca dataset dari file CSV
atribut, data = atribut_data(dataset) # Mengambil atribut yang akan digunakan untuk klastering
data_skala = normalisasi(data) # Normalisasi data

In [3]:
print("dataset") #cetak dataset
print(dataset) #cetak dataset

dataset
      New Cases  New Deaths  New Recovered  New Active Cases  Total Cases  \
0           287          12            188                87        18441
1          1956          20           1643               293       185691
2           233          13            113               107        12388
3          1504           3           1204               297        85083
4           896           4            575               317        83252
...         ...         ...            ...               ...          ...
1027      13112         138          15022             -2048       636383
1028       1665          44            902               719        72560
1029       7399         160           4974              2265       440379
1030       4530         202           3042              1286       285348
1031       2530         168           1727               635       189705

      Total Deaths  Total Recovered  Total Active Cases
0              537            15931                1973
1             3290           166453               15948
2              272             8420                3696
3             1173            71943               11967
4             3623            57036               22593
...            ...              ...                 ...
1027          9270           527060              100053
1028          1892            54352               16316
1029          6008           348694               85677
1030         12562           223706               49080
1031         13635           160296               15774

[1032 rows x 8 columns]